<%= render 'layouts/error', obj: @student %>

<div class="row">
    <div class="col s12">
      <h3 class= "center-align">
        <b>
          <%= @student.new_record? ? "Sign up" : "Edit your profile" %>
        </b>
      </h3>
    </div>
</div>

<div class="container">
  <div class="row center">
    <div class="col s12 m12 l12">
      <div class="card-panel">
        <div class="row">
          <%=  form_for(@student, html: {class: "col s12"}) do |f| %>

            <div class="row">
              <div class="input-field col s12">
                <%= f.text_field :name, placeholder: "Enter Your full-name", autofocus: true %>
                <%= f.label :name, class:"active" %>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <%= f.text_field :email, placeholder: "Enter Your full-name", autofocus: true%>
                <%= f.label :email, class:"active" %>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <%= f.password_field :password, placeholder: "Enter Password", autofocus: true%>
                <%= f.label :password, class:"active" %>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <%= f.password_field :password_confirmation, placeholder: "Confirm Password", autofocus: true%>
                <%= f.label :password_confirmation, class:"active" %>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <%= f.button(@student.new_record? ? "Sign Up" : "Update", class: "waves-effect waves-light btn red lighten-2") %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>