<div class="row">
    <div class="col s12">
      <h3 class= "center-align">
        <b>
          Log In
        </b>
      </h3>
    </div>
</div>

<div class="container">
  <div class="row center">
    <div class="col s12 m12 l12">
      <div class="card-panel">
        <div class="row">
          <%=  form_for(:logins, html: {class: "col s12"}) do |f| %>

            <div class="row">
              <div class="input-field col s12">
                <%= f.text_field :email, placeholder: "Enter Your email", autofocus: true%>
                <%= f.label :email, class:"active" %>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <%= f.password_field :password, placeholder: "Enter Password", autofocus: true%>
                <%= f.label :password, class:"active" %>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <%= f.button '<i class="material-icons right">arrow_forward</i>Log In'.html_safe, class: "waves-effect waves-light btn red lighten-2" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>